#login {
    margin-top:47px;
    margin-bottom:64px;
    text-align: center;
}
#main {
    margin-top:93px;
}

.btn btn-info m-auto {
    margin-top:54px;
    padding: 23px;
}
.form-control {
    width: 644px;
    margin-left:  126px;
}