#register {
    margin-top:93px;
}

#registers {
    margin-top:47px;
    margin-bottom:64px;
    text-align: center;
}

#btn1 {
    padding: 19px;
}

.form-control {
    width: 644px;
    margin-left: 126px;
}